
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
  margin: 0;
}
:root{
  --green: #005346;
  --yellow: #FACB05;
  --lightYellow: #E5E7E6;
}
/*   header    */

a{
  text-decoration: none;
}

.header{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu{
  margin-right: 3em;
}


.ricola-logo{
  width: 6.1em;
  height: 4em;
  margin-left: 3em;
}

.main-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.circle{
  font-size: .7rem;
  background-color: var(--yellow);
  width: 6.8em;
  height: 5.5em;
  border-radius:50% ;
  margin: 1.5em;
  color: var(--green);
}

.circle:hover{
  cursor: pointer;
  background-color: var(--green);
  color: white;
}

.circle-text{
  margin: 0;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.circle span{
  font-size: .9rem;
  font-weight: bolder;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.all-circles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-flex;
}




@media only screen and (max-width: 600px)  {
  .circle{
    font-size: .6rem;
    width: 6.8em;
    height: 5.5em;
  }

  .header-menu{
    margin-right: 1em;
    
  }
  
  .ricola-logo{
    margin-left: 1em;
    width: 4.5em;
    height: 4em;
  }
}



/* Sub-pages  */

.yellow-button{
  font-size: .7rem;
  background-color: var(--yellow);
  width: 6.8em;
  height: 5.5em;
  border-radius:50% ;
  color: var(--green);
}

.yellow-button span{
  font-size: .9rem;
  font-weight: bolder;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.yellow-button:hover{
  cursor: pointer;
  background-color: var(--green);
  color: white;
}

.circle-subpage{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, );
  text-align: center;
  display: inline-flex;
  margin-left: 3em;
}

.line{
  width: 20em;
  margin-right: 1em;
  margin-left: 1em;
}

.modal{
  
  width: 374px;
  height: 250px;
  color: #243F36;
  background-color: #ffffff; 
 border: 2px solid var(--yellow);;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  outline: none;
}

.modal-main{
  width: 80%;
  text-align: center;
  display: flex;
  
}

.open-modal{
  transform: translateY(100%);
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: #ffffff; 
}/*white circles*/





.close-modal{
    border: none;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}


path {
  stroke: white;
  stroke-width: 2;
}

.leaf {
  
  width: 7em;
  height: 5.5em;
  margin: 1em;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}


@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.overlay{
  background-color: none;
}


.modal-first ,.modal-second ,.modal-third{
  width: 374px;
  height: 250px;
  color: #243F36;
  background-color: var(--yellow); 
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  outline: none;
  transform: translate(80%,30%);
}

.modal-second{

}


.modal-third{

}