
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
  margin: 0;
}
:root{
  --green: #005346;
  --yellow: #FACB05;
  --lightYellow: #E5E7E6;
}
/*   header    */

a{
  text-decoration: none;
}

.header{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu{
  margin-right: 3em;
}


.ricola-logo{
height: 1.8em;
  margin-left: 3em;
}

.main-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: 'Roboto', sans-serif;

   
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.circle{
  font-size: .7rem;
  background-color: var(--yellow);
  width: 6.8em;
  height: 5.5em;
  border-radius:50% ;
  margin: 1.5em;
  color: var(--green);
}

.circle:hover{
  cursor: pointer;
  background-color: var(--green);
  color: white;
}

.circle-text{
  margin: 0;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.circle span{
  font-size: .9rem;
  font-weight: bolder;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.all-circles{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-flex;
}




@media only screen and (max-width: 600px)  {
  .circle{
    font-size: .6rem;
    width: 6.8em;
    height: 5.5em;
  }

  .header-menu{
    margin-right: 1em;
    
  }
  
  .ricola-logo{
    margin-left: 1em;
    width: 4.5em;
    height: 4em;
  }
}



/* Sub-pages  */

.yellow-button{
  font-size: .7rem;
  background-color: var(--yellow);
  width: 6.8em;
  height: 5.5em;
  border-radius:50% ;
  color: var(--green);
  margin-right: 3em;
}

.yellow-button span{
  font-size: .9rem;
  font-weight: bolder;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.yellow-button:hover{
  cursor: pointer;
  background-color: var(--green);
  color: white;
}

.circle-subpage{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, );
  text-align: center;
  display: inline-flex;
  margin-left: 3em;
  margin-right: 3em;
}

.line{
  width: 22em;
  margin-right: 1em;
  margin-left: 1em;
}

.modal{
  width: 374px;
  height: 250px;
  color: #243F36;
  background-color: #ffffff; 
  border: 2px solid var(--yellow);;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  outline: none;
}



.open-modal{
  transform: translateY(100%);
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #ffffff; 
  cursor: pointer;
}/*white circles*/

.open-modal:hover { 
  outline: none;
  border: none;
  box-shadow: 0px 6px 19px 16px rgba(239, 242, 245, 0.399);
}


button:active {
  outline: none;
  border: none;
}
.header-modal{
  display: flex;
  padding: 8.5px;
 text-align: center;
 
}

h4{
  padding-left: 10px;
  color: var(--green);
}

.close-modal{
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--yellow);
    color: var(--green);
    cursor: pointer;
    border: 1.5px solid var(--green);
    font-weight: 900;
}


path {
  stroke: white;
  stroke-width: 2;
}

.svg-animations{
 
  text-align: center;
  display: inline-flex;
  width: 60%;
  position: absolute;
  top: 28%;
  left: 34%;
  justify-content: space-between;
  transform: translate(-50%, );
  text-align: center;
  display: inline-flex;

}


.leaf {
  
  visibility: hidden;
  width: 100px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear alternate infinite;
  
}

.svg2 {
  visibility: hidden;
  width: 100px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear alternate infinite;

}

.svg3 {
  visibility: hidden;
  width: 100px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear alternate infinite;

}


@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.overlay{
  background-color: none;
}

.modal-main{
  width: 88%;
  text-align: center;
  display: inline-flex;
 
}


.modal-first ,.modal-second ,.modal-third{
  width: 360px;
  height: 42px;
  color: #243F36;
  background-color: var(--yellow); 
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  outline: none; 
  filter: drop-shadow(0px 7.2px 7.2px rgba(0, 0, 0, 0.25));
  
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.modal-first{
  transform: translate(80%, 260%);
}

.modal-second{
 transform: translate(200%, 180%);
}


.modal-third{
  transform: translate(280%, 300%);
}


.buttonOne div div .one {
  display: none;
}

.sun{
  width: 10rem;
}

.sun img  {
  
  width: 7em;
  height: 5.5em;
  margin: 1em;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;

}


@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.arrow{
  width: 1.5em;

 
}

.next-container{
  transform: translateY(50%);
 margin-left: 3em;
 margin-right: 3em;
  text-align: center;
  display: inline-flex;
}

.next-center{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: white;

  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
  color: #c6c6c6; 
  
}
.h3-sidebar{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #243F36; 
  padding: 20px;
}

.image{
 float: left;
 margin: 20px;
 width: 212px;
 height: 245px;
 background-color: yellow;
}

.closeButton{
  border: none;
  background-color: white;
  color: #434343;
  font-size: 2em;
  display: flex;
  cursor: pointer;
  padding-left: 25px;
}

.openButton{
  position: absolute;
  top: 80%;
  left: 42%;
  transform: translate(-50%, );
  text-align: center;
  display: inline-flex;

  visibility: hidden;
  transform: translateY(100%);
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #ffffff; 
  cursor: pointer;
}/*white circles*/

.openButton:hover { 
  outline: none;
  border: none;
  box-shadow: 0px 6px 19px 16px rgba(239, 242, 245, 0.399);
}


h1{
  font-size: 1.6rem;
  color: white; 
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
}

h1 span{
  font-weight: bold;
}


.sidebar-p{
  text-align: left;
  font-size: .9rem;
  padding: 1em;
  line-height: 1.5;
  
}

.dottedLine1{
  position: absolute;
  top: 58%;
  left: 36%;
  transform: translate(-50%, );
  text-align: center;
  display: inline-flex;
  visibility: hidden;
  width: 100px;
}